
  /* the main text*/
  .all-text {

    text-align: center;
   
  }

  /* unvisited link */
a:link {
    color: royalblue;
  }
  
  /* visited link */
  a:visited {
    color: royalblue
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }

  a {
    text-decoration: none;
  }